<div class="container">
  <%= form_for @distractor do |distractor_form| %>
  <% if @distractor.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@distractor.errors.count, "error") %> prohibited this distractor from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @distractor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <%= render :partial => 'distractors/_stat_data_form', :locals => {:f => distractor_form} %>
  <%= render :partial => 'distractors/_question_select_form', :locals => {:f => distractor_form} %>
    <div class="form-group">
      <%= distractor_form.label :content, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= distractor_form.cktext_area :content, :class => 'form-control', :rows => 3, :id => "distractor_content_#{distractor_form}" %>
      </div>
      <%=distractor_form.error_span(:content) %>
    </div>


    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= distractor_form.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        distractors_path, :class => 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>
